*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
}


.content{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(wallpapersden.com_panther-jungle-hd_2560x1600.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}


.button{
    outline: none;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 10px 25px;
    color: #fff;
    overflow: hidden;
}

.button:hover{
    filter: drop-shadow(0 0 10px #ffffff);
    transition: .5s;
    border: 2px solid #ffffff;
}

.main{
    color: #fbfcfd;
    left: 8%;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    z-index: 2;

}




.main h1{
    font-size: 75px;
    font-weight: bold;
    font-family: water brush;
    margin: 10px 0 3;

}

.main small{
    font-size: 20px;
}

.main02{
    color: #fbfcfd;
    left: 8%;
    transform: translateY(-50%);
    top: 98%;
    position: absolute;
    z-index: 2;
   
}

.main02 img{
    width: 30px;
    cursor: pointer;
}

.main02 img:hover{
    transition: .5s;
    filter: drop-shadow(0 0 10px  #fff);
}

.social-links{
    letter-spacing: 5px;    
    
}

@media(max-width: 400px){
    .main h1{
        font-size: 50px;
    }
}

@media(max-width:300px){
    .main h1{
        font-size: 36px;
    }
    .main small{
        font-size: 15px;
    }
    .button{
        padding: 2px 5px;
        font-size: 10px;
    }
}

